<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container *ngFor="let item of displayedColumns">
    <ng-container [matColumnDef]="item">
      <th mat-header-cell *matHeaderCellDef>{{item}}</th>
      <td mat-cell *matCellDef="let element; let i = index">
        <editable (update)="updateField(i, 'name')">
          <ng-template viewMode>
            {{element[item]}}
          </ng-template>
          <ng-template editMode>
            <mat-form-field class="example-full-width">
              <input matInput [formControl]="getControl(i, item)" />
              <mat-error *ngIf="getControl(i, item).hasError('required')">
                Field is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <input
              [formControl]="getControl(i, item)"
              focusable
              editableOnEnter
            />
          </ng-template>
        </editable>
      </td>
    </ng-container>
  </ng-container>

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <!-- <ng-container matColumnDef="position">
		<th mat-header-cell *matHeaderCellDef> No. </th>
		<td mat-cell *matCellDef="let element"> {{element.position}} </td>
	</ng-container> -->

  <!-- Name Column -->
  <!-- <ng-container matColumnDef="name">
		<th mat-header-cell *matHeaderCellDef> Name </th>
		<td mat-cell *matCellDef="let element;let index = index">
			<editable (update)="updateField(index, 'name')">
				<ng-template viewMode>
					{{element['position']}}
				</ng-template>
				<ng-template editMode>
					<mat-form-field class="example-full-width">
						<input matInput [formControl]="getControl(index, 'name')">
    <mat-error *ngIf="getControl(index, 'name').hasError('required')">
       Field is <strong>required</strong>
    </mat-error>
  </mat-form-field>
					<input  [formControl]="getControl(index, 'name')" focusable editableOnEnter>
        </ng-template>
      </editable> 
    </td>
	
    
  </ng-container> -->

  <!-- Weight Column -->
  <!-- <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef> Weight </th>
    <td mat-cell *matCellDef="let element;let index = index">
      	<editable (update)="updateField(index, 'weight')">
				<ng-template viewMode>
					{{element.weight}}
				</ng-template>
				<ng-template editMode>
					<input  [formControl]="getControl(index, 'weight')" focusable editableOnEnter>
        </ng-template>
      </editable> 
    </td>
  </ng-container> -->

  <!-- Symbol Column -->
  <!-- <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> Symbol </th>
    <td mat-cell *matCellDef="let element;let index = index"> 
      	<editable (update)="updateField(index, 'symbol')">
				<ng-template viewMode>
				{{element.symbol}}
				</ng-template>
				<ng-template editMode>
					<input  [formControl]="getControl(index, 'symbol')" focusable editableOnEnter>
        </ng-template>
      </editable> 
       </td>
  </ng-container> -->

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>



<!-- Editable table -->
<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Editable table</h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2">
        <a class="text-success" (click)="add()">
          <!-- <mdb-icon fas icon="plus" size="2x"></mdb-icon> -->
        </a>
      </span>
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <tr>
          <th class="text-center">Person Name</th>
          <th class="text-center">Age</th>
          <th class="text-center">Company Name</th>
          <th class="text-center">Country</th>
          <th class="text-center">City</th>
          <th class="text-center">Sort</th>
          <th class="text-center">Remove</th>
        </tr>
        <tr *ngFor="let person of personList; let id = index">
          <td>
            <span (keyup)="changeValue(id, 'name', $event)" (blur)="updateList(id, 'name', $event)" contenteditable="true">{{person.name}}</span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(id, 'age', $event)" (blur)="updateList(id, 'age', $event)">{{person.age}}</span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(id, 'companyName', $event)" (blur)="updateList(id, 'companyName', $event)">{{person.companyName}}</span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(id, 'country', $event)" (blur)="updateList(id, 'country', $event)">{{person.country}}</span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(id, 'city', $event)" (blur)="updateList(id, 'city', $event)">{{person.city}}</span>
          </td>
          <td>
            <span class="table-up">
              <a class="indigo-text">
                <!-- <mdb-icon fas icon="long-arrow-alt-up"></mdb-icon> -->
              </a>
            </span>
            <span class="table-down">
              <a class="indigo-text">
                <!-- <mdb-icon fas icon="long-arrow-alt-down"></mdb-icon> -->
              </a>
            </span>
          </td>
          <td>
            <span class="table-remove">
              <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0" (click)="remove(id)">Remove</button>
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<!-- Editable table -->

<!-- Copyright 2019 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->